body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(43, 200, 103); */
  }
  .bar {
    fill: rgb(37, 10, 95);
  }
  .label {
    fill: white;
    font-size: 14px;
    text-anchor: middle;
  }
  .axis text {
    font-size: 12px;
  }
  h1 {
    color: rgb(198, 32, 62);
    font-size: 2em;
    font-weight: bold;
  }