h1 {
  color: rgb(54, 37, 40);
  font-size: 2em;
  font-weight: bold;
}
body {
  /* background-color: rgb(202, 231, 145); */
  font-family: Arial, sans-serif;
}
.axis-label {
  font-size: 12px;
  font-weight: bold;
}
